<div class="bcp-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Bowling Club Poitevin</p>
                <p>11 Place des Sablons 86000 POITIERS</p>
                <p>bowlingclubpoitevin@gmail.com</p>
            </div><!-- /.col-md-12 text-center -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.bcp-footer -->