{% extends ':default:index.html.twig' %}
{% import '@App/Utils/illustrations_render.html.twig' as illuRender %}

{% block content %}
    {% if images.getTotalItemCount > 40 %}
        <div class="col-md-12 col-sm-12 text-right bcp-mb">
            {{ knp_pagination_render(images) }}
        </div><!-- /.col-md-12 -->
    {% endif %}

    {{ illuRender.showIllustrations(images, true) }}

    {% if images.getTotalItemCount > 40 %}
        <div class="col-md-12 col-sm-12 text-right">
            {{ knp_pagination_render(images) }}
        </div><!-- /.col-md-12 -->
    {% endif %}
{% endblock content %}