{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block admin_content %}
    <h3 class="page-header bcp-page-header">Modification d'un fichier partagé</h3>
    {% include '@App/Admin/SharedFile/form.html.twig' %}
{% endblock admin_content %}
