{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block admin_content %}
    <h3 class="page-header bcp-page-header">Modification d'une page</h3>
    {% include '@App/Admin/Page/form.html.twig' %}
{% endblock admin_content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/assets/ckeditor/ckeditor.js') }}"></script>
{% endblock javascripts %}
