{% macro showIllustrations(images, addLink = false) %}
    {% for image in images %}
        {% set img_normal = asset(image.webPath|imagine_filter('post_view')) %}
        {% set img_preview = asset(image.webPath|imagine_filter('post_preview')) %}
        {% set img_title = image.post.title %}
        {% set img_post_path = path('front_article_view', {'slug': image.post.slug}) %}

        <div class="col-xs-6 col-md-3">
            <a href="{{ img_normal }}"
               data-toggle="lightbox"
               data-gallery="post_gallery"
               data-title="{{ img_title }}"
               {% if addLink %}data-footer="<a href='{{ img_post_path }}'>Accéder à l'article</a>"{% endif %}
            >
                <div class="bcp-post-illustration-preview bcp-gallery-img-box" data-img="{{ img_preview }}">
                    <i class="fa fa-5x fa-spin fa-circle-o-notch bcp-image-loader"></i>
                </div>
            </a>
        </div>
    {% endfor %}
{% endmacro %}