{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block admin_content %}
    <h3 class="page-header bcp-page-header">Suppression d'un article</h3>
    <p>
        Vous êtes sur le point de supprimer l'article <b>"{{ post.title }}"</b>, cette action est
        irréversible.
    </p>
    <p>Voulez-vous vraiment continuer?</p>

    <hr>
    <div class="text-center">
        <form method="POST">
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-remove"></i> Supprimer
            </button>
            <a href="{{ path('admin_entity_list', {'entity': 'post'}) }}" class="btn btn-default">
                <i class="fa fa-chevron-left"></i> Retour
            </a>
        </form>
    </div><!-- /.text-center -->
{% endblock admin_content %}
